// Color

.color_white{
    color: white !important;
}
.color_darkblue{
    color: #32445E;
}
.color_wa{
    color: rgb(26, 175, 71) !important;
}

.color_lightGrey{
    color: #B7B5AE !important;
}

.color_red{
    color: #E16459 !important;
}

.bg_red{
    background-color: #E16459 !important;
}

$color_red     : #E16459;
$color_white     : white;
$color_lightGrey     : #B7B5AE;
$color_black     : #1C1E1E;
$color_darkBlue     : #32445E;


