.page-about{
    margin-top: 5rem;
}

.title-about-wrapper{
    max-height: 250px;
    height: 225px;
    margin-bottom: 2rem;
}

.content-about-wrapper{
    h4{
        color: white;
        margin-bottom: 2rem;
    }
    .client-photo{
        height: 224px;
        max-height: 224px;
        overflow-y: hidden;
        margin-bottom: 2rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .client-name{
        height: 50px;
        max-height: 50px;
        overflow-y: hidden;
        p{
            text-transform: uppercase;
            margin-bottom: 0;
            color: white;
            &:nth-child(2){
                color: $color_red;
            }
        }
    }
    .client-qt{
        height: 40px;
        max-height: 40px;
        overflow-y: hidden;
        margin-bottom: 2rem;
        p{
            font-size: 1.8rem;
            line-height: 1em;
            color: $color_darkBlue;
        }
    }
    .client-desc{
        height: 280px;
        max-height: 280px;
        overflow-y: hidden;
        @include respond(down-tab-land){
            height: 200px;
        }
        p{
            color: white;
            text-transform: uppercase;
        }
    }
}


.about-first{
    width: 50%;
    position: relative;
    margin-top: 5rem;
    @include respond(down-tab-land){
        width: 100%;
    }
    h2{
        color: $color_darkBlue;
        font-size: 5rem;
    }
    h3{
        color: $color_darkBlue;
        font-size: 3rem;
    }

    &:after{
        right: 0;
        border-right: 1px solid #B7B5AE;
        height: calc(100% + 5rem);
        position: absolute;
        top: -3rem;
        content: "";
        @include respond(down-tab-medium){
            display: none;
        }
    }


    .row{
        .padding-rl{
            &:nth-child(odd){
                padding-right: 1rem;
                @include respond(down-tab-land){
                    padding: 0;
                }
            }
            &:nth-child(even){
                padding-left: 1rem;
                @include respond(down-tab-land){
                    padding: 0;
                }
            }
        }
    }

    .award-img{
        margin: 2rem 0;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

}

.about-second{
    width: 50%;
    position: relative;
    margin-top: 5rem;
    @include respond(down-tab-land){
        width: 100%;
    }
    h2{
        color: $color_darkBlue;
        font-size: 5rem;
    }
    h3{
        color: #32445E;
        font-size: 3rem;

        span{
            color: $color_red;
        }
    }
    p{
        color: white;
        span{
            color: $color_lightGrey;
        }
    }
    a{
        color: white;
    }

    .logoSaso{
        width: 250px;
        object-fit: contain;
        margin: 2rem 0;
    }

    .content-about-wrapper{
        ol{
            li{
                display: flex;
                border-bottom: 1px solid $color_lightGrey;
                padding: 1rem;
                span{
                    display: block;
                    p{
                        margin: 0;
                    }
                }
                p{margin: 0;}
            }
        }
    }
}