.fullImgSlider{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .sideSlider{
        position: absolute;
        left: 0;
        width: 555px;
        height: 100vh;
        top: 0;
        padding: 2rem 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include respond(down-phone){
            padding: 3.5rem 3rem;
            width: 100%;
        }
    }

    .logo{
        width: 170px;
        margin-left: -54px;
        @include respond(down-phone){
            margin-left: 0px;
            width: 131px;
            height: 100px;
        }
    }
    .text{
        @include respond(down-phone){
            margin-bottom: 8rem;
        }
        p{
            font-family: "Futura-Light-font";
            font-size: 6.5rem;
            font-weight: bold;
            letter-spacing: normal;
            line-height: 0.8em;
            text-transform: uppercase;
            span{
                font-family: "Futura-Light-font";
                font-size: 6.5rem;
                font-weight: bold;
                letter-spacing: normal;
                line-height: 0.8em;
                text-transform: uppercase;
                @include respond(down-tab-port){
                    font-size: 5rem;
                }
            }
        }
    }
    .linkToGo{
        position: absolute;
        bottom: 15%;
        right: -2%;
        z-index: 90;
        text-decoration: none;
        @include respond(down-phone){
            right: -14%;
            bottom: 23%;
        }
    }
    img{
        width: 100%;
        object-fit: cover;
        transition: all 1s ;
        transform: scale(1.01);
    }
    .dots-slider{
        position: absolute;
        bottom: 8%;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        li{
            display: inline-block;
            width: 30px;
            height: 3px;
            background-color: rgba(211, 211, 211, 0.678);
            background: linear-gradient(to left, rgba(211, 211, 211, 0.678) 50%, $color_red 50%);
            background-size: 200% 100%;
            background-position:right bottom;
            margin: 0 2.5px;
            cursor: pointer;
            z-index: 10;
            &.active{
                background-position:left bottom;
                transition:all 4.2s;
            }
        }
    }

}

.slick-active{
    .fullImgSlider{
        img{
            transform: scale(1);
        }
    }
}