.page_studies{
    margin-top: 5rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 7rem);
    .slick-list {overflow: unset;}
    @include respond(down-tab-land){
        height:unset;
        padding-bottom: 6rem;
        .slick-slider{
            padding-top: 5rem;
        }
    }

    .studies_head{
        margin-bottom: 10rem;
    }

    h2{
        color: $color_red;
        font-size: 3rem;
        text-transform: uppercase;
    }
    p{
        color: white;
        font-size: 1.4rem;
    }

    .img_next_wrapper{
        position: relative;
        cursor: pointer;
        &-img{
            opacity: 0.3;
            filter: grayscale(1);
        }
        &-img{
            transition: all 0.3s linear;
        }
        &-text{
            font-size: 1rem;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            padding: 3rem;
            span{
                font-size: 1.2rem;
                color: $color_red;
            }
        }
    }

    .studies_desc{
        p{
            color: white;
            font-size: 1.1rem;
        }
        h3{
            font-size: 1.5rem;
            color: $color_red;
        }

        &--p{
            @include respond(down-tab-land){
                margin-bottom: 4rem;
            }
        }
        .next_action{
            color: $color_red;
            font-size: 1.2rem;
            text-transform: uppercase;
            cursor: pointer;
            margin-top: 3rem;
        }
    }

    .studies_sliderWrapper{
        outline: none;
        display: flex !important;
        @include respond(down-tab-medium){
            margin: 0;
            div{
                padding: 0;
            }
        }
        .studies_img{
            height: 370px;
            object-fit: contain;
            position: relative;
            img{
                height: 100%;
                object-fit: cover;
            }
            .btn-arrow{
                position: absolute;
                top: -50px;
                right: 0;
                display: flex;
                width: 124px;
                align-items: center;
                justify-content: space-around;
                li{
                    display: inline-block;
                    list-style: none;
                    &:first-child{
                        transform: rotate(90deg);
                        transform-origin: center;
                    }
                    &:last-child{
                        transform: rotate(-90deg);
                        transform-origin: center;
                    }
                }
                .arrow_next{
                    cursor: pointer;
                    width: 11px;
                    object-fit: contain;
                }
                .arrow_prev{
                    cursor: pointer;
                    width: 11px;
                    object-fit: contain;
                }
            }
        }
    }
    }

